body{
	margin:0;
}

table{
	
}

td{
	/* border:solid 1px black; */
}

#id_add_room,#id_add_employee,#id_add_dept,#id_add_designation,#id_edit_designation{
	border:solid 1px black;
	display: none;
}

table#list {
	width:100%;
}

tr.updated-row{
	border:solid 2px #000000;
	background: -webkit-linear-gradient(#edb442, #fabd55); 
  	background: -o-linear-gradient(#edb442, #fabd55); 
  	background: -moz-linear-gradient(#edb442, #fabd55);
  	background: linear-gradient(#edb442, #fabd55);
  	border-radius: 3px;
	color:black;
	
}
div#id_place_window{
	
	width:300px;
	display: none;
}
.align-right{
	float: right;
}